<form action= "cats_url" method= "POST"> 
    <label for= "cat_name">Name</label>
    <input id= "cat_name" type ="text" name="cat[name]" value= "<% cat.name %>">

    <br>

    <label for= "male_cat">Male</label>
    <input id= "male_cat" type= "radio" name="cat[sex]" value= "M">
    <label for= "female_cat">Female</label>
    <input id= "female_cat" type= "radio" name="cat[sex]" value= "F">
    
    <br>

    <label for="colors" >Colors</label>
    <select name="cat[color]"> 
        <option disabled selected>--  Please select  --</option>
        <% COLORS.each do |color| %>
            <option value="<%color%>"><%=color%></option>
        <% end %>
    </select>

    <label for="birthday">Birthdate</label>
    <input type="date" id="birthday" name="cat[birth_date]">

    <br>

    <label for="description"> Description </label>
    <textarea id="description" name= cat[description] rows="10" columun ="20"></textarea>

    <br>
    <input type="submit" value="Add A Cat">

</form>